@charset 'utf-8';
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body{
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}
.titulo h1{
	margin-top: 3%; 
	font-size: 5rem;
	margin-bottom: 3%;
}
.row{
	height: 1500px;
}
.espelhos-coluna-1, .espelhos-coluna-2,.espelhos-coluna-3,.espelhos-coluna-4{
	padding: 0; 
	height: 46.5%;
}
.espelhos-coluna-1{
	padding-left: 1%;
 
}
[class*=esp-]{
	width: 100%;
	height: 50%;
	border: 2px solid #ffffff;
	overflow: hidden;
	position: relative;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	
}
.esp-00{
	background-image: url(../_imgs/_espdec/espelho-capa.jpg);
	background-size: cover;
}
.esp-00:hover{
	background-position: 50% 50%;
}
.esp-01{
	background-image: url(../_imgs/_espdec/espelho-1.jpg);
	background-size: cover;
}
.esp-01:hover{
	background-position: 50% 50%;
}
.esp-02{
	background-image: url(../_imgs/_espdec/espelho-2.jpg);
	background-size: cover;
}
.esp-02:hover{
	background-position: 50% 50%;
}
.esp-03{
	background-image: url(../_imgs/_espdec/espelho-3.jpg);
	background-size: cover;
}
.esp-03:hover{
	background-position: 50% 50%;
}
.esp-04{
	background-image: url(../_imgs/_espdec/espelho-4.jpg);
	background-size: cover;
}
.esp-04:hover{
	background-position: 50% 50%;
}
.esp-05{
	background-image: url(../_imgs/_espdec/espelho-5.jpg);
	background-size: cover;
}
.esp-05:hover{
	background-position: 50% 50%;
}
.esp-06{
	background-image: url(../_imgs/_espdec/espelho-6.jpg);
	background-size: cover;
}
.esp-06:hover{
	background-position: 50% 50%;
}
.esp-07{
	background-image: url(../_imgs/_espdec/espelho-7.jpg);
	background-size: cover;
}
.esp-07:hover{
	background-position: 50% 50%;
}
.esp-08{
	background-image: url(../_imgs/_espdec/espelho-8.jpg);
	background-size: cover;
}
.esp-08:hover{
	background-position: 50% 50%;
}
.esp-09{
	background-image: url(../_imgs/_espdec/espelho-9.jpg);
	background-size: cover;
}
.esp-09:hover{
	background-position: 50% 50%;
}
.esp-10{
	background-image: url(../_imgs/_espdec/espelho-10.jpg);
	background-size: cover;
}
.esp-10:hover{
	background-position: 50% 50%;
}
.esp-11{
	background-image: url(../_imgs/_espdec/espelho-11.jpg);
	background-size: cover;
}
.esp-11:hover{
	background-position: 50% 50%;
}
.esp-12{
	background-image: url(../_imgs/_espdec/espelho-12.jpg);
	background-size: cover;
}
.esp-12:hover{
	background-position: 50% 50%;
}
.esp-13{
	background-image: url(../_imgs/_espdec/espelho-13.jpg);
	background-size: cover;
}
.esp-13:hover{
	background-position: 50% 50%;
}
.esp-14{
	background-image: url(../_imgs/_espdec/espelho-14.jpg);
	background-size: cover;
}
.esp-14:hover{
	background-position: 50% 50%;
}
.esp-15{
	background-image: url(../_imgs/_espdec/espelho-15.jpg);
	background-size: cover;
}
.esp-15:hover{
	background-position: 50% 50%;
}
.esp-16{
	background-image: url(../_imgs/_espdec/espelho-16.jpg);
	background-size: cover;
}
.esp-16:hover{
	background-position: 50% 50%;
}

[class*="esp-"] h2{
	margin: 0;
	opacity: 0;
	position: absolute;
	bottom: 0px;
	padding: 2%;
	-webkit-transition: all .5s ease-in;
	background: rgba(0,0,0,.5);
	color: #ffffff;
	width: 100%;
	}
[class*="esp-"]:hover h2{
	opacity: 1;
}
.contato{
	margin-top: 2%;
}
@media (min-width: 500px) and (max-width: 1000px) {
	.row{
		height: 1000px;
	}
	.titulo{
		text-align: center;
		margin-left: 5%;
		height: 7%;
	}
	.titulo h1{
		font-size: 3.5rem;
	}
	[class*="esp-"] h2{
		font-size: 2rem;
	}
	.contato{
		margin-top: 4%;
	}
}
@media (max-width: 500px){
	.row{
		height: 600px;
	}
	.titulo{
		text-align: right;
		height: 12%;
	}
	.titulo h1{
		font-size: 1.8rem;
	}
	[class*="esp-"] h2{
		font-size: 1.5rem;
		opacity: .7;
	}
	.contato{
		margin-top: 14%;
		padding-bottom: 3%
	}
}