@charset 'utf-8';
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body{
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}
.carousel-principal{
	padding: 0;
}
.carousel-principal img{
width: 100%;
}
/* efeito fade do carousel */
.carousel-fade .carousel-inner .item {
  -webkit-transform: translateZ(0);
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  opacity: .5;
  
  
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 100%;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  	opacity: 1;
	transition: 3s;
	 -moz-transform: translateX(0%);
	 -moz-transition:.001s;

}
.carousel-fade .carousel-control {
  z-index: 2;
  transition: 2s;
}
/* Img 1 */
.item-1{
	background: url('../_imgs/slide-1-hover.jpg');
	background-size: cover;
}
.item-1 img{
	transition: 1s;
}
.item-1:hover img{
	opacity: 0;
	transition: 1s;
}
/* Img 2 */
.item-2{
	background: url('../_imgs/slide-2-hover.jpg');
	background-size: cover;
}
.item-2 img{
	transition: 1s;
}
.item-2:hover img{
	opacity: 0;
	transition: 1s;
}
/* Img 3 */
.item-3{
	background: url('../_imgs/slide-3-hover.jpg');
	background-size: cover;
}
.item-3 img{
	transition: 1s;
}
.item-3:hover img{
	opacity: 0;
	transition: 1s;
}
.carousel-indicators{
	visibility: hidden;
}
.caption-1, .caption-2, .caption-3{
	top: 30%;
}
.caption-1 h1, .caption-2 h1, .caption-3 h1{
	font-size: 10rem;
	font-family: 'Raleway', sans-serif;
	letter-spacing: .3em;
	text-transform: uppercase;
}
.icon-next, .icon-prev{
	visibility: hidden;
}

.trabalhos{
	margin-top: 7%;
	text-align: center;
	border-bottom: 2px solid #606060;
}
.trabalhos h2{
	font-size: 5rem;
	text-transform: uppercase;
}
.accordion {
	width: 100%;
	height: 500px;
	overflow: hidden;
	margin: 50px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

.accordion ul {
	height: 100%;
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}

.accordion ul li {
	display: table-cell;
	vertical-align: bottom;
	position: relative;
	width: 25%;
	height: 100%;
	background-position: 50% 50%;
}

.accordion ul li div {
	display: block;
	overflow: hidden;
	width: 100%;
}

.accordion ul li div a {
	display: block;
	width: 100%;
	position: relative;
	z-index: 3;
	vertical-align: bottom;
	padding: 15px 20px;
	box-sizing: border-box;
	color: #fff;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	
}

.accordion ul li div a * {
	opacity: 0;
	margin: 0;
	width: 100%;
	text-overflow: ellipsis;
	position: relative;
	z-index: 5;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
	-webkit-transition: all 400ms ease;
	
}

.accordion ul li div a h2 {
	text-overflow: clip;
	text-transform: uppercase;

}

.accordion li {
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: 1s;
	-webkit-transition:  1s;
	-moz-transition: 1s;


}

.accordion ul li:nth-child(1) { 
	background-image: url("../_imgs/_parq/arquitetonicos-capa.jpg");
	background-repeat: no-repeat;

	 /* Old WebKit */
	 }

.accordion ul li:nth-child(2) {
	background-image: url("../_imgs/_pdec/decorativos-capa.jpg"); 
	background-repeat: no-repeat;

}

.accordion ul li:nth-child(3) { 
	background-image: url("../_imgs/_espdec/espelho-capa.jpg"); 
	background-repeat: no-repeat;

}

.accordion ul li:nth-child(4) { 
	background-image: url("../_imgs/_pcnc/placa-capa.jpg");
	background-repeat: no-repeat;

	 }


.accordion ul:hover li {
	width: 20%; 
	-webkit-filter: grayscale(1);
}

.accordion ul:hover li:hover {
	width: 60%;
	-webkit-filter: none;
	 }

.accordion ul:hover li:hover a { 
	background: rgba(0, 0, 0, 0.4); }

.accordion ul:hover li:hover a * {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.quem-somos{
	-webkit-transition-all: .5s;
	margin-bottom:8%;
}
.quem-somos h2{
	margin-top: 5%;
	text-align: center;
	font-size: 5rem;
	text-transform: uppercase;
	border-bottom: 2px solid #606060;
	padding-bottom: .5%;
}
.sobre-texto p{
	margin-top: 2%;
	padding: 2%;
	text-indent: 5%;
	font-size: 2rem;
	color: #202020;
	font-weight: bold;
}
.sobre-foto img{
	transition: .5s;
	margin-top: 5%;
}
.quem-somos:hover .sobre-foto img{
	transition: .5s;
}
.contato{
	padding: 0;
	background: #202020;
	color: #ffffff;
	text-align: left;
}
.contato-texto-1, .contato-texto-2,{
	margin-top: 3%;
	margin-bottom: 3%;
}
.contato-texto-3{
	margin-bottom: ;
	text-align: center;
}
.contato-texto-1 h3, .contato-texto-2 h3{
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
}
.contato-texto-3 h3{
	font-size: 2rem;
}
.contato-texto-1 p, .contato-texto-2 p{
	font-size: 1.5rem;
}
.contato a{
	text-decoration: none;
	color: #ffffff;
	transition: 1s;
}
.contato a:hover{
	color: #e74c3c;
	transition: 1s;
}
.contato ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.contato ul li{
	margin-right: 1%;
	display: inline-block;
}