@charset 'utf-8';
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body{
	height: 1000px;
}

a:hover{
	text-decoration: none;
	color: #ffffff;
}
.trabalho-1, .trabalho-2, .trabalho-3, .trabalho-4{
	text-align: center;
	margin:0;
	padding: 0;
	margin-top: 1%;
	height: 30%;
}
.trabalho-1 h1, .trabalho-2 h1, .trabalho-3 h1, .trabalho-4 h1{
	font-size: 7rem;
	color: #ffffff;
	text-shadow: 3px 3px 3px rgba(0,0,0,.5);
	margin-top: 10%;
	}
.trabalho-1{
	margin-top: 0;
	background-image: url('../_imgs/slide-1-hover.jpg');
	background-position: 50% 0%;
	transition: .5s;
}
.trabalho-1:hover{
	background-position: 50% 100%;
	transition: .5s;	
}
.trabalho-2{
	background-image: url('../_imgs/_pdec/decorativos-13.jpg');
	background-position: 50% 50%;
	transition: .5s;
}
.trabalho-2:hover{
	background-position: 50% 100%;
	transition: .5s;	
}

.trabalho-3{
	background-image: url('../_imgs/_espdec/espelho-capa.jpg');
	background-position: 50% 50%;
	transition: .5s;
}
.trabalho-3:hover{
	background-position: 50% 100%;
	transition: .5s;	
}

.trabalho-4{
	background-image: url('../_imgs/_pcnc/placa-4.jpg');
	margin-bottom: 1%;
	transition: .5s;	
}
.trabalho-4:hover{
	background-position: 50% 100%;
	transition: .5s;	
}
